@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";
@import "../../styles/functions.scss";

.quotesCarousel {
  flex-direction: column;
  align-items: center;

  .titleSection {
    color: $basic-text-color;
    font-weight: 500;
    font-size: $title-size;
    text-align: center;
    padding-bottom: 10px;
    align-items: center;

    &::before {
      content: "\2606";
      color: #ffce45;
      font-size: 35px;
      margin-left: 10px;
    }
  }

  .carousel {
    display: flex;
    justify-content: center;
  }
}
