@import "../../styles/colors.scss";
@import "../../styles/z-index.scss";
@import "../../styles/functions.scss";
@import "../../styles/sizes.scss";

.introSection {
  background: $background-section-blue;
  padding: 30px;
  margin-bottom: 20px;

  .container {
    width: $body-max-width;
    position: relative;
    margin: auto;

    .imageContainer {
      display: flex;
      position: relative;
      opacity: 0.5;
      bottom: -30px;

      @include desktop {
        position: absolute;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: -70px;
      }
    }

    .intro {
      .title {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        font-weight: 500;
        color: $basic-text-color;

        @include desktop {
          margin-bottom: 40px;
        }

        .subtitle {
          color: $secondary-purple;
        }
      }

      .content {
        color: $basic-text-color;
        font-size: $content-size;
        line-height: 25px;
        max-width: 720px;

        b {
          color: $brand-color-purple;
        }

        .button {
          background-color: $secondary-purple;
          padding: 16px;
          margin-top: 48px;
          text-align: center;
          border-radius: $border-radius;
          transition: 0.5s ease;
          min-width: 40%;
          margin-inline: auto;
          border: none;
          font-weight: 600;
          font-size: 16px;
          cursor: pointer;
          display: flex;
          justify-content: center;

          a {
            color: $basic-text-color;
            transition: 0.3s ease-in-out;
          }

          &:hover {
            box-shadow: 0 0 15px 1px $secondary-purple;

            a {
              color: whitesmoke;
            }
          }
        }
      }
    }
  }

  @include desktop {
    padding: 70px;
  }
}
