@import '../../styles/colors.scss';

.carousel {
	.carouselList {
		align-items: center;
		display: grid;
		grid-row-gap: 1.25rem;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		max-width: 900px;
		overflow: hidden;
		padding: 16px 32px;
		list-style: none;
	}

	.carouselItem {
		grid-column: 1;
		grid-row: 1;
		line-height: 1.2;
		text-align: center;
		transition: transform 0.8s;
	}

	.carouselItem.active {
		transform: translateX(0);
	}
	.carouselItem.left {
		transform: translateX(-150%);
	}
	.carouselItem.right {
		transform: translateX(150%);
	}

	.carouselQuote {
		font-style: italic;
		line-height: 2;

		h4 {
			font-size: 20px;
			margin-top: 25px;
			color: $black-gray;
		}

		p {
			font-size: 20px;
			color: $black-gray;
			font-weight: 100;

			&::after {
				content: '\201C';
				padding-right: 5px;
				font-size: 30px;
			}

			&::before {
				content: '\201D';
				padding-left: 5px;
				font-size: 30px;
			}
		}
	}
}
