@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';
@import '../../styles/z-index.scss';
@import '../../styles/functions.scss';

.navMenuContainer {
	display: flex;
	flex: 1;
	margin: auto 20px;
	justify-content: space-between;
	height: $navbar-height;

	.menuContainer {
		background-color: $background-body-color;
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: all 0.4s ease;
		box-shadow: 0 6px 5px 0 rgb(63 71 86 / 15%);
		opacity: 0;
		z-index: $z-index-normal;
		height: 0;
		justify-content: center;
		width: 100%;

		.menuItem {
			display: flex;
			flex-direction: column;
			align-items: center;
			opacity: 1;
			transition: opacity 0.1s ease-in-out;
			padding: 8px 0;
		}

		&[data-open='true'] {
			left: -0%;
			opacity: 1;
			height: 50vh;
			top: $navbar-height;
		}
	}

	&[data-open='false'] li {
		opacity: 0;
	}

	@include desktop {
		.menuContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 90%;
			margin: 0 auto;
			opacity: 1;
			overflow-y: initial;
			height: initial;
			flex-direction: row;
			position: initial;
			box-shadow: initial;

			.menuItem {
				color: $basic-text-color;
				cursor: pointer;
				padding: 12px 0;
				position: relative;

				&:hover {
					.subMenu {
						position: absolute;
						top: 30px;
						background: $background-body-color;
						display: flex;
						flex-direction: column;
						padding: 10px 20px;
						box-shadow: 0 0 15px 1px $box-shadow-brand-color;
						border-radius: 8px;
						gap: 10px;
						margin-top: 10px;
					}
				}

				.subMenu {
					display: none;
				}
			}

			a {
				text-decoration: none;
				cursor: pointer;
				transition: all 0.3s ease-in-out;
				color: $basic-text-color;
				font-size: 16px;

				&:hover {
					color: $brand-color-purple;
				}
			}
		}
	}
}

