@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';
@import '../../styles/z-index.scss';
@import '../../styles/functions.scss';

.navMenuContainer {
	display: flex;
	flex: 1;
	margin: auto 20px;
	justify-content: space-between;
	height: $navbar-height;

	.menuContainer {
		background-color: $background-body-color;
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: all 0.4s ease;
		box-shadow: 0 6px 5px 0 rgb(63 71 86 / 15%);
		opacity: 0;
		z-index: $z-index-normal;
		height: 0;
		justify-content: center;
		width: 100%;
		left: 0;

		.menuItem {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 8px 0;
			color: $basic-text-color;

			&[data-path='true'] a {
				color: $brand-color-purple;
			}

			.subMenu {
				margin-top: 5px;
			}

			a {
				color: $basic-text-color;
				font-size: 16px;
				text-decoration: none;
				cursor: pointer;
				transition: all 0.3s ease-in-out;

				&:hover {
					color: $brand-color-purple;
					letter-spacing: 0.8px;
				}
			}
		}

		&[data-open='true'] {
			left: -0%;
			opacity: 1;
			height: 62vh;
			top: $navbar-height;
		}

		&[data-open='true'] li {
			opacity: 1;
			transition: opacity 0.4s ease-in;
		}

		&[data-open='false'] li {
			opacity: 0;
			transition: opacity 0.1s ease-out;
		}
	}

	@include desktop {
		.menuContainer {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			width: 90%;
			margin: 0 auto;
			opacity: 1;
			overflow-y: initial;
			height: initial;
			flex-direction: row;
			position: initial;
			box-shadow: initial;

			&[data-open='true'] {
				height: initial;
			}

			&[data-open='false'] li {
				opacity: 1;
			}

			.menuItem {
				color: $basic-text-color;
				cursor: pointer;

				&:hover {
					.subMenu {
						position: absolute;
						top: $subMenu-height;
						background: $background-body-color;
						display: flex;
						flex-direction: column;
						padding: 10px 20px;
						box-shadow: 0 0 15px 1px $box-shadow-color;
						border-radius: 8px;
						margin-top: $subMenu-height;
					}
				}

				.subMenu {
					display: none;
				}

				a:hover {
					letter-spacing: initial;
				}
			}
		}
	}
}
