.header{
    border-bottom: 1px solid #E2E8F0;
    
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;

        .logo{
            color: #482ff7;
        }

        .navMenu {
            width: 60%;
            display: flex;
            justify-content: space-between;
        }

        .hamburger {
            display: none;

            .bar {
                display: block;
                width: 22px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                background-color: #101010;
            }
        }
    }

    a{
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover{
            background-color: rgb(236, 141, 141);
        }
    }
}

@media only screen and (max-width: 600px){ //mobile
    .nav{
        .navMenu{
            position: fixed;
            flex-direction: column;
            top: 3rem;
            background-color: rgb(203, 189, 189);
            align-items: center;
            width: 99.5vw !important;
            transition: 0.5s;
            left: 0;
            left: -100%;
            opacity: 0;
            border-radius: 0rem 1rem 1rem 1rem;
            overflow: hidden;
            box-shadow: 0px 20px 45px 5px rgba(22,22,22,0.18);   
            
            a{
                font-size: 1.1rem;
                padding: 1rem 0rem;
                width: 100%;
                text-align: center;
                color: black;
            }

            .subNavMenu{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 100%;

                .subMenuTitle{
                    display: flex;
                    align-items: center;
                    font-size: 0.8rem;
                    text-align: center;
                    padding: 1rem 0rem;
                    gap: 0.1rem;
                    cursor: pointer;

                    span{
                        font-size: 1.3rem;
                    }
                }

                a{
                    display: none;
                }
            }
            
            .subNavOpen{
                a{
                    display: block;
                }

                .links{
                    width: 100%;
                }
            }
        }

        .openMenu{
            left: -0%;
            opacity: 1;
        }

        .hamburger{
            display: block !important;
            cursor: pointer;
        }

        .openHamburger{
            .bar:nth-child(1){
                transform: translateY(8px) rotate(45deg);
            }

            .bar:nth-child(2){
                opacity: 0;
            }

            .bar:nth-child(3){
                transform: translateY(-8px) rotate(-45deg);
            }

        }
    }
}


