@import "../../styles/colors.scss";
@import "../../styles/z-index.scss";
@import "../../styles/functions.scss";
@import "../../styles/sizes.scss";

.introSection {
  background: $background-section-blue;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  .about {
    .title {
      font-weight: 100;
      color: $basic-text-color;
      margin-bottom: 6px;
    }

    div {
      font-size: $title-size - 3px;
      font-weight: 600;
      color: $brand-color-blue;
    }

    .info {
      p {
        color: $basic-text-color;
        margin-top: 20px;
        max-width: 530px;
        display: flex;
        flex-direction: column;
        font-size: $content-size;
        line-height: 25px;
      }
    }
  }

  .image {
    filter: drop-shadow(5px 5px 2px #3f475533);
    margin-top: 20px;

    img {
      border-radius: 50%;
    }
  }

  @include desktop {
    & {
      justify-content: space-between;

      .image {
        img {
          height: 270px !important;
          width: 270px !important;
        }
      }
    }
  }
}
