@import '../../styles/colors.scss';

.timeLineContainer {
	display: flex;
	flex-direction: column;
	margin: 40px 0;
	position: relative;

	&::after {
		background-color: $pink;
		content: '';
		position: absolute;
		width: 4px;
		height: 100%;
		right: calc(50% - 2px);
	}
}
