@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

.footerContainer {
	background-color: $footer-color;
	min-height: 25vh;
	padding: 16px 32px;
	display: flex;
	align-items: center;

	.content {
		display: flex;
		height: fit-content;
		width: 100%;
	}
}

.descriptionLogo {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	justify-content: space-evenly;

	.description {
		text-align: center;
		padding-inline: 32px;

		h4 {
			font-size: 14.4px;
			font-weight: 100;
			color: $black-gray;
		}
	}
}

.navigation {
	display: flex;
	flex-direction: column;
	flex: 8;
	flex-wrap: wrap;

	h4 {
		text-align: center;
		font-weight: 500;
		font-size: 16px;
		color: $black-gray;
	}

	.navContainer {
		display: flex;
		justify-content: space-evenly;
		gap: 10px;

		ul {
			height: fit-content;
			display: flex;
			flex-direction: column;
			gap: 6px;

			h4 {
				font-size: 18px;
				text-align: right;
			}

			a {
				text-decoration: none;
				font-weight: 100;
				font-size: 14px;
				color: $purple;
			}
		}
	}
}

.contact {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 18px;

	h4 {
		font-weight: 500;
		font-size: 18px;
		color: $black-gray;
		font-weight: 500;
	}

	.contactDetails {
		display: flex;
		flex-direction: column;
		gap: 16px;

		.top {
			display: flex;
			flex-direction: column;
			gap: 8px;
			justify-content: center;

			.topItem {
				display: flex;
				gap: 8px;
				align-items: center;
				cursor: pointer;

				h4 {
					font-size: 14px;
					text-align: right;
					font-weight: 100;
					color: $purple;
				}

				span {
					color: $purple;
					font-weight: 300;
					font-size: 20px;
				}
			}
		}

		.bottom {
			display: flex;
			gap: 16px;

			img {
				cursor: pointer;
			}
		}
	}
}

@media only screen and (max-width: $mobile-size) {
	.content {
		display: flex;
		flex-direction: column;
	}

	.descriptionLogo {
		min-height: 15vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.navigation {
		.navContainer {
			display: flex;
			flex-direction: column;
			min-height: 65vh;

			ul {
				display: flex;
				align-items: center;

				h4 {
					font-size: 24px;
				}

				a {
					font-size: 16px;
					transition: 0.3s;
					&:hover {
						letter-spacing: 0.8px;
					}
				}
			}
		}
	}

	.contact {
		display: flex;
		align-items: center;
		h4 {
			font-size: 24px;
		}

		.top {
			align-items: center;

			.topItem {
				display: flex;
				align-items: center;

				h4 {
					font-size: 16px !important;
				}
			}
		}
	}

	.bottom {
		height: 15vh;
		padding-bottom: 16px;
		justify-content: space-evenly;

		img {
			height: 50px !important;
			width: 50px !important;
		}
	}
}
