@import "../../styles/functions.scss";

.parallaxSection {
  min-width: 100%;
  padding: $body-padding 150px $body-padding $body-padding;
  clip-path: inset(0 0 0 0);
  align-items: center;

  .image {
    margin-top: 20px; // for lazy load fixed image
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.2;
  }

  .contact {
    position: relative;
  }
}

@include desktop {
  .parallaxSection {
    justify-content: flex-start !important;
    margin-bottom: 0 !important;
  }
}
