@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';
@import '../../styles/z-index.scss';
@import '../../styles/functions.scss';

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		align-items: center;
		display: flex;
	}

	@include desktop {
		margin-left: 300px;
	}
}
