@import "./colors.scss";
@import "./sizes.scss";
@import "./functions.scss";

.introSection {
  background: $background-section-blue;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  .about {
    .title {
      h1 {
        font-weight: 100;
        color: $basic-text-color;
      }

      p {
        font-size: $title-size - 3px;
        font-weight: 600;
        color: $brand-color-blue;
      }
    }

    .info {
      p {
        color: $basic-text-color;
        margin-top: 16px;
        max-width: 530px;
        display: flex;
        flex-direction: column;
        font-size: $content-size;
        line-height: 25px;
      }
    }
  }

  .image {
    filter: drop-shadow(5px 5px 2px #3f475533);
    margin-top: 20px;

    img {
      border-radius: 50%;
    }
  }
}

.mainSection {
  flex-direction: column;
  gap: 20px;

  .contact {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-weight: 100;
      text-align: center;
      font-size: $title-size;

      &::before {
        content: "\2733";
        color: $brand-color-purple;
        font-weight: 600;
        padding-left: 10px;
        font-size: 35px;
      }

      a {
        cursor: pointer;
        color: $brand-color-purple;
        font-weight: 600;
      }
    }
  }
}

@include desktop {
  .introSection {
    justify-content: space-between;

    .image {
      img {
        height: 270px !important;
        width: 270px !important;
      }
    }
  }
}
