$brand-color-purple: #af85bc;
$brand-color-pink: #ffafcc;
$brand-color-blue: #a2d2ff;
$brand-color-blue-light: #bde0fe;
$brand-color-pink-light: #ffc8dd;

$background-section-purple: #cdb4db1a;
$background-section-blue: #a2d2ff1a;
$background-section-pink: #ffc7dc26;
$background-body-color: #fcf7f4;
$background-section-blue-light: #bde0fe59;

$secondary-purple: #cdb4db;

$basic-text-color: #3f4756;

// $box-shadow-brand-color: #cdb4db40;
$box-shadow-color: #3f475626;

$line-color-svg: invert(87%) sepia(95%) saturate(1585%) hue-rotate(225deg)
	brightness(78%) contrast(84%);
