// $purple-pastel: #c3bae3;
// $blue-pastel: #5077ab;
// $background-color: #fcf7f4;
// $black-gray: #3f4756;
// $purple-light: #c3bae359;

$purple: #af85bc;
$pink: #ffafcc;
$blue: #a2d2ff;

$purple-light: #cdb4db;
$pink-light: #ffc8dd;
$blue-light: #bde0fe;
$black-gray: #3f4756;

$box-shadow-color: #cdb4db40;
$background-color: #fcf7f4;
$footer-color: #bde0fe66;
