$purple: #af85bc;
$pink: #ffafcc;
$blue: #a2d2ff;

$purple-light: #cdb4db;
$pink-light: #ffc8dd;
$blue-light: #bde0fe;
$black-gray: #3f4756;

$box-shadow-color: #cdb4db40;
$background-color: #fcf7f4;
$footer-color: #bde0fe59;

$background-purple: #cdb4db1a;
$background-blue: #a2d2ff1a;
$background-pink: #ffc7dc26;
