@import './colors.scss';
@import './sizes.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background-color: $background-body-color;
	direction: rtl;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 16px;
}

a {
	text-decoration: none;
}

.section {
	min-height: calc(100vh - $body-size);
	display: flex;
	justify-content: center;
	padding: 32px 80px;
	max-width: $body-max-width;
	margin: auto;

	@media only screen and (max-width: $mobile-size) {
		padding: 32px 30px;
	}
}

*::-webkit-scrollbar {
	width: 5px;
	height: 4px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #5078ab59;
	border-radius: 20px;
	border: transparent;
}
