@import './colors.scss';
@import './sizes.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background-color: $background-body-color;
	direction: rtl;
	max-width: 1280px;
	margin: auto;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 16px;
}

*::-webkit-scrollbar {
	width: 5px;
	height: 4px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #5078ab59;
	border-radius: 20px;
	border: transparent;
}
