@import './colors.scss';
@import './sizes.scss';
@import './z-index.scss';
@import './functions.scss';

.welcomeSection {
	flex-direction: column;
	background: $background-section-purple;
	border-bottom-left-radius: $section-border-radius-mobile;

	.title {
		display: flex;
		flex-direction: column;

		h1 {
			font-weight: 500;

			&:nth-child(1) {
				color: $basic-text-color;
			}

			&:nth-child(2) {
				color: $secondary-purple;
			}
		}
	}

	.content {
		color: $basic-text-color;
		margin-top: 16px;
		max-width: 530px;
		display: flex;
		flex-direction: column;
		font-size: 18px;
		line-height: 25px;

		span {
			margin-bottom: 8px;
			font-size: 20px;
			font-weight: 600;
		}
	}

	.call {
		background-color: $secondary-purple;
		padding: 16px;
		margin-top: 48px;
		text-align: center;
		border-radius: 6px;
		transition: 0.5s ease;
		min-width: 60%;
		margin-inline: auto;
		border: none;
		font-weight: 600;
		font-size: 16px;
		cursor: pointer;

		a {
			color: $basic-text-color;
			transition: 0.5s ease;
		}

		&:hover {
			box-shadow: 0px 0px 15px 1px $secondary-purple;
			a {
				color: whitesmoke;
			}
		}
	}
}

.infoSection {
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
	align-items: center;
	position: relative;
}

.workPlan {
	position: relative;
	align-items: center;
	flex-direction: column;
	direction: ltr;

	h3 {
		color: $basic-text-color;
		font-weight: 500;
		font-size: 25px;
		text-align: center;
		padding-bottom: 25px;
		direction: rtl;
	}

	p {
		direction: rtl;
	}
}

.quoteSection {
	background-color: $background-section-pink;
}

.quotesCarousel {
	flex-direction: column;
	align-items: center;

	.title {
		display: flex;
		width: fit-content;
		gap: 5px;
		align-items: center;
		margin-bottom: 20px;

		h3 {
			color: $basic-text-color;
			font-weight: 500;
		}

		span {
			font-weight: 200;
			font-size: 35px;
			color: #ffce45;
		}
	}

	.carousel {
		display: flex;
		justify-content: center;
	}
}

@include desktop {
	.welcomeSection {
		border-bottom-left-radius: $section-border-radius;
	}
}
