@import './colors.scss';
@import './sizes.scss';

.section {
	min-height: calc(100vh - $body-size);
	padding: 32px 80px;
}

.welcomeSection {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.title {
		display: flex;
		flex-direction: column;

		h1 {
			font-size: 50px;
			font-weight: 500;
		}

		h1:nth-child(1) {
			color: $black-gray;
		}

		h1:nth-child(2) {
			color: $purple-light;
		}
	}

	.content {
		color: $black-gray;
		margin-top: 16px;
		max-width: 480px;
		h3 {
			margin-bottom: 8px;
			font-size: 20px;
		}

		h4 {
			font-weight: 500;
			font-size: 18px;
			padding: 8px 0px;
		}
	}

	.call {
		background-color: $purple-light;
		color: $black-gray;
		padding: 16px;
		margin-top: 48px;
		text-align: center;
		border-radius: 6px;
		transition: 0.5s;
		min-width: 60%;
		margin-inline: auto;
	}
}

.infoSection {
	background-color: $pink-light;
}

@media only screen and (max-width: $mobile-size) {
	.welcomeSection {
		.call {
			min-width: 90%;
		}
	}
}
