@import './colors.scss';
@import './sizes.scss';
@import './functions.scss';

.intro {
	background-color: $background-section-purple;
	border-bottom-left-radius: $section-border-radius-mobile;
	flex-direction: column;
}

.importance,
.how,
.summary {
	display: flex;
	flex-direction: column;
}

.title {
	font-weight: bold;
	color: $basic-text-color;
	margin: 15px 0 10px 0;
	font-size: $title-size-h3;
}

@include desktop {
	.intro {
		border-bottom-left-radius: $section-border-radius;
		min-height: 55vh;
	}
}
