@import './colors.scss';
@import './sizes.scss';
@import './functions.scss';

.intro {
	background-color: $background-section-purple;
	border-bottom-left-radius: $section-border-radius-mobile;
	flex-direction: column;
	justify-content: initial;
}

.importance {
	flex-direction: column;
	justify-content: flex-start;

	h3 {
		font-weight: bold;
		color: $basic-text-color;
		margin: 15px 0 10px 0;
	}
}

.example {
	flex-direction: column;
	justify-content: flex-start;

	h3 {
		color: $basic-text-color;
		margin: 15px 0 25px 0;
	}

	p {
		font-size: 18px;
		color: $basic-text-color;
		margin: 5px 0;
		line-height: 25px;
	}
}

@include desktop {
	.intro {
		border-bottom-left-radius: $section-border-radius;
	}
}
