@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

.sectionContainer {
	h1 {
		font-weight: 100;
		color: $brand-color-purple;
		margin: 0 0 40px 0;
	}

	.subtitle {
		font-weight: bold;
		color: $basic-text-color;
		margin: 15px 0 10px 0;
		font-size: $title-size-h3;
	}

	p {
		font-size: 18px;
		line-height: 25px;
		max-width: 500px;
		color: $basic-text-color;
	}
}
